body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */



input
select,
textarea {
    max-width: 600px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    font-size:20px;
    font-weight:bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
    
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.schoolName
{
    width:300px;
    font-size:17px;
}

.className
{
    width:300px;
    font-size:17px;
}

.YearName
{
    width:300px;
    font-size:17px;
}
.form-group
{
    margin-bottom:25px;
}
.form-group input
{
    width:600px;
    font-size:25px;
    display:block;
    border: 1px solid #999;
    height: 45px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding-left:5px;

}
.form-group Select
{
    width:600px;
    font-size:25px;
    display:block;
    border: 1px solid #999;
    height: 45px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding-left:5px;

}
.form-group .lastregno{
    font-size:35px;
}
.form-group label
{
    font-size:15px;     
    margin-left:-20px;
}

#studentcurrentyear td
{
    font-size:20px;
}
#studentcurrentyear{
    margin:0 auto;
    width:600px;
}
table th
{
    width:auto !important;
}
.student-table 
{
    width:5000px;
    table-layout:fixed;
}
.RegistrationNo 
{
    font-size:25px;
    font-weight:bold;
}
.description
{
   width:600px;
}

#sidebar-wrapper li a
{
    font-size:30px;
    line-height:50px;
    color:yellow;
}
#sidebar-wrapper{
    margin-top:-5px;
    
}
#sidebar-wrapper li a:hover
{
    background-color:darkgrey;
}
#page
{
    width:100%;
    margin:0 auto;
    margin-left:25px;
}
#list
{
    width:5000px;
}
#RememberMe
{
    width:130px !important;
    border:0px
}
.navbar-brand{
    color:white !important;
    margin-left:-95px !important;
    font-size:25px;
}
.navbar-collapse ul li a
{
    color:white !important;
}

.formbutton
{
    height:50px;
    margin-left:175px
}
.h1padbot
{
    padding-bottom:30px;
}
.controlLabel
{
    font-size:25px !important;
    width:210px !important;
}
.formpadleft
{
    padding-left:20px !important
}
.buttonlayout
{
    height:75px !important;
    margin-left:190px;
    font-size:40px !important;
}
.pagination > li > a
{
    font-size:30px;
}
.tableindex
{
    font-size:22px;
    width:1700px;
}
.text-box-student
{
    font-size:25px;
    display:inline;
    border: 1px solid #999;
    height: 45px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    width:400px;
    margin-right:100px;
    
}
.rowbetweenspace
{
    height:50px;
}

.datepicker
{
    font-size:40px;
}
.widthandheight
{
    height:75px;
    width:600px;
    font-size:40px;
    border: 1px solid #999;
    
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    

}
.buttoncenter
{
    text-align:center;
    margin:0 auto;
    width:1800px;
}

.backtolist a:link,a:visited,a:active.a:hover
{
    
    text-decoration-color:none;
    color:black;
    text-decoration-line:none;
       
    
}
.backtolist
{
    padding-top:12px;
    display:inline-block;
    margin-left:35px;
    
}
