@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homeimage">
    <h1 style="text-align:center;padding-top:50px;padding-right:100px;">ORMOND SCHOOL INFORMATION SYSTEM</h1>
    <h2 style="text-align:center;font-size:50px;padding-right:100px;">A comprehensive school management system</h2>
    
</div>

