@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;padding-top:50px;">ORMOND SCHOOL INFORMATION SYSTEM</h1>
    <h2 style="text-align:center">A comprehensive school management system</h2>
</div>

